
@import 'src/components/assets/style/mixin.scss';
@import "common/var";

// 字体、背景、轮廓
.i-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 18px;
  height: 41px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.i-button--small {
    display: inline-block;
    font-size: 14px;
    padding: 0 12px;
    height: 33px;
}

.i-button--normal {
  display: inline-block;
  padding: 0 12px;
}

.i-button--large {
  display: block;
  width: 100%;
}

.i-button--default {
  color: #656b79;
  background-color: #f6f8fa;
  box-shadow: 0 0 1px #b8bbbf;
  &.is-plain {
    border: 1px solid #5a5a5a;
    background-color: transparent;
    box-shadow: none;
    color: #5a5a5a;
  }
}

.i-button--primary {
  color: #fff;
  background-color: #26a2ff;
  &.is-plain {
        border: 1px solid #26a2ff;
        background-color: transparent;
        color: #26a2ff;
  }
}

.i-button--danger {
  color: #fff;
  background-color: #ef4f4f;
  &.is-plain {
    border: 1px solid #ef4f4f;
    background-color: transparent;
    color: #ef4f4f;
  }
}

.i-button.is-disabled {
  opacity: .6;
}

.i-button-icon {
  vertical-align: middle;
  display: inline-block;
}